h4{
    padding: 5px 0 5px 0;
}

.col-style{
    padding: 5px;
    margin: 5px;
}

th{
    padding: 2px 3px 2px 3px;
}

.card-1{
    background-color: #205e3b;
}

.card-2{
    background-color: #246e44;
}

.card-3{
    background-color: #287a4b;
}

.btn-style{
    padding: 5px 0 5px 0;
}


