h4{
    padding: 5px 0 5px 0;
}

.col-style{
    padding: 5px;
}

th{
    padding: 2px 3px 2px 3px;
}

.card-1{
    background-color: #292b2c;
}

.card-2{
    background-color: #2F3233;
}

.card-3{
    background-color: #373A3B;
}

.btn-style{
    padding: 3px 0 3px 0;
}
